:root {
    --main-color: #fff;
    --pv: calc(78vw / 3840);
}

body {
    background-color: var(--main-color);
}

.rumble {
    background-size: 700px 700px;
    width: 110%;
    height: 120%;
    position: fixed;
    background-image: url(../images/rumble.png);
    pointer-events: none;
    user-select: none;
    z-index: 255;
}

#gradient-canvas {
    --gradient-color-1: #9288df; 
    --gradient-color-2: #e0e0e0; /*  412851  */
    --gradient-color-3: #a15878;  
    --gradient-color-4: #4a4f98;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  /* #f0ac00 */
  /* --gradient-color-1: #043D5D; 
    --gradient-color-2: #032E46; 
    --gradient-color-3: #1c1c1c;  
    --gradient-color-4: #444a4b; */

.picture {
    margin-top: 0.5rem;
    width: calc(3840 * var(--pv)); /* 78vw        88vw */
    transform: translate(0, 0);
    word-wrap: break-word;
    position: relative;
    display: block;
    /* position: absolute; */
}

.center {
    display: flex;
    justify-content: center;
}

.logo {
    width: 14vw;
    margin-top: 0.1rem;
}

.img {
    width: 100%;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* .profile {
    left: 15%;
    top: 6.5%;
    width: 50vw;
    position: absolute;
    z-index: 2;
} */

.profile {
    left: 19%;
    top: 5%;
    width: 40vw;
    position: absolute;
    z-index: 2;
}

.text {
    left: 4%;
    top: 17%;
    width: 30vw;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.text2 {
    left: 55%;
    top: 17%;
    width: 40vw;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.text3 {
    left: 15%;
    top: 2.5%;
    width: 60vw;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.videoplayer {
    left: 34%;
    top: 53.5%;
    width: 30vw;
    position: absolute;
    z-index: 2;
    /* outline: #9288df solid 0.5rem;
    border-radius: 60px; */
    transform: rotate(-1deg);
    display: none;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: #9288df;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    left: 49%;
    top: 60.5%;
    display: none;
}

.transform {
    transform-style: preserve-3d;
    transform-origin: 50% calc(3334 * var(--pv));
}

.fakepeople {
    left: 1.25%;
    top: 34%;
    width: 7vw;
    opacity: 0.9;
    position: absolute;
    z-index: 1;
}

.btn {
    background-color: #4a4f98;
    border: none;
    color: white;
    position: absolute;
    width: 15vw;
    height: 7.5vh;
    border-radius: 15px;
    outline: #9288df solid 0.25rem;
    font-size: clamp(0.5rem, 2vw, 2rem);
    left: 70%;
    top: 45%;
    z-index: 2;
    font-family: "LarkeNeueRegular";
}

@media (max-width: 700px) {
    .btn {
        width: 15vw;
        height: 4vh;
        border-radius: 10px;
        outline: #9288df solid 0.2rem;
    }
}

.back-btn {
    /* background-color: #4a4f98; */
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    left: 25px;
    top: 25px;
    z-index: 2;
}

@media (max-width: 550px) {
    .back-btn {
        left: 10px;
        top: 10px;
    }
}

@media (max-width: 350px) {
    .back-btn {
        left: 5px;
        top: 5px;
    }
}

.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn:hover {
    background-color: #7970bb;
    cursor: pointer;
}

.havent {
    left: 30%;
    top: 200vh;
    width: 30vw;
    position: absolute;
    z-index: 2;
    background-color: #9288df;
    /* outline: #4a4f98 solid 0.3rem; */
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 15px;
    display: none;
}

#trailer {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;

    position: fixed;
    z-index: 255;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover > #trailer {
    opacity: 1;
}

#trailer-icon {
    font-size: 10px;

    margin-left: 4.5px;
    margin-bottom: 5px;
    
    color: #4a4f98;
    opacity: 0;
    transition: opacity 400ms ease;
  }

  #trailer:not([data-type=""]) > #trailer-icon {
    opacity: 1;
  }

  @font-face {
    font-family: 'LarkeNeueRegular'; /*a name to be used later*/
    src: url('../fonts/Larke\ Neue\ Regular.ttf'); /*URL to font*/
  }

  @font-face {
    font-family: 'LarkeNeueBold'; /*a name to be used later*/
    src: url('../fonts/Larke\ Neue\ Bold.ttf'); /*URL to font*/
  }

/* Scroll bar
::-webkit-scrollbar {
    width: 0.8rem;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

/* icons */

.front-sns {
    position: absolute;
    right: 103px;
    top: 35px; /* top: 40px; */
    display: block;
}

ul {
    display: flex;
    list-style: none;   
}

li {
    padding: 0 0 0 33px;
    font-size: 0;
    line-height: 0;
    display: list-item;
    text-align: -webkit-match-parent;
}

.fill {
    height: 30px;
    width: 30px;
    fill: #fff;
    z-index: 2;
    position: relative;
}

.fill-video {
    height: 25px;
    width: 25px;
    fill: #fff;
    z-index: 2;
    position: relative;
}

.fill:hover, .fill-video:hover {
    fill: #9288df;
}

.icon-circle {
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    transform: translate(-25%, -75%);
    transform-origin: center;
    z-index: 1;
}

@media (max-width: 1200px) {
    .front-sns {
        right: 80px;
        top: 20px; /* top: 40px; */
    }
}

@media (max-width: 1000px) {
    .front-sns {
        right: 75px;
        top: 15px; /* top: 40px; */
    }
    .fill {
        height: 20px;
        width: 20px;
    }
    .fill-video {
        height: 20px;
        width: 20px;
    }
}

@media (max-width: 800px) {
    .front-sns {
        right: 50px;
        top: 15px; /* top: 40px; */
    }
    .back-btn {
        left: 20px;
    }
}

@media (max-width: 700px) {
    .front-sns {
        right: 30px;
        top: 15px; /* top: 40px; */
    }
    li {
        padding: 0 0 0 22px;
    }
    .back-btn {
        left: 15px;
    }
}

@media (max-width: 600px) {
    .front-sns {
        right: 20px;
        top: 15px; /* top: 40px; */
    }
    li {
        padding: 0 0 0 11px;
    }
    .back-btn {
        left: 10px;
    }
}

@media (max-width: 500px) {
    .front-sns {
        top: 5px;
    }
    .back-btn {
        left: 10px;
    }
}