:root {
    --main-color: #fff;
}

body {
    background-color: var(--main-color);
}

.rumble {
    background-size: 700px 700px;
    width: 110%;
    height: 120%;
    position: fixed;
    background-image: url(../images/rumble.png);
    pointer-events: none;
    user-select: none;
    z-index: 255;
}

#gradient-canvas {
    --gradient-color-1: #9288df; 
    --gradient-color-2: #fff; /*  412851  */
    --gradient-color-3: #a15878;  
    --gradient-color-4: #4a4f98;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  /* #f0ac00 */
  /* --gradient-color-1: #043D5D; 
    --gradient-color-2: #032E46; 
    --gradient-color-3: #1c1c1c;  
    --gradient-color-4: #444a4b; */

.picture {
    margin-top: 1rem;
    width: 78vw; /* 88vw */
    transform: translate(0, 0);
    word-wrap: break-word;
    /* position: absolute; */
}

.center {
    display: flex;
    justify-content: center;
}

.logo {
    width: 14vw;
    margin-top: 1rem;
}

.img {
    width: 100%;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}