:root {
    --main-color: #fff;
    --pv: calc(78vw / 3840);
}

body {
    background-color: var(--main-color);
}

video {
    display: none;
}

.rumble {
    background-size: 700px 700px;
    width: 110%;
    height: 120%;
    position: fixed;
    background-image: url(../images/rumble.png);
    pointer-events: none;
    user-select: none;
    z-index: 255;
}

#gradient-canvas {
    --gradient-color-1: #9288df; 
    --gradient-color-2: #e0e0e0; /*  412851  */
    --gradient-color-3: #a15878;  
    --gradient-color-4: #4a4f98;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  /* #f0ac00 */
  /* --gradient-color-1: #043D5D; 
    --gradient-color-2: #032E46; 
    --gradient-color-3: #1c1c1c;  
    --gradient-color-4: #444a4b; */

.picture {
    margin-top: 0.5rem;
    width: calc(3840 * var(--pv)); /* 78vw        88vw */
    transform: translate(0, 0);
    word-wrap: break-word;
    position: relative;
    display: block;
    /* position: absolute; */
}

.center {
    display: flex;
    justify-content: center;
}

.logo {
    width: 14vw;
    margin-top: 0.1rem;
}

.img {
    width: 100%;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;  
}

/* .profile {
    left: 15%;
    top: 6.5%;
    width: 50vw;
    position: absolute;
    z-index: 2;
} */

.profile {
    left: 19%;
    top: 5%;
    width: 40vw;
    position: absolute;
    z-index: 2;
}

.text {
    left: 4%;
    top: 17%;
    width: 30vw;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.text2 {
    left: 55%;
    top: 17%;
    width: 40vw;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.text3 {
    left: 15%;
    top: 2.5%;
    width: 60vw;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.videoplayer {
    left: 34%;
    top: 53.5%;
    width: 30vw;
    position: absolute;
    z-index: 2;
    /* outline: #9288df solid 0.5rem;
    border-radius: 60px; */
    transform: rotate(-1deg);
    display: none;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: #9288df;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    left: 49%;
    top: 60.5%;
    display: none;
}

.transform {
    transform-style: preserve-3d;
    transform-origin: 50% calc(3334 * var(--pv));
}

.fakepeople {
    left: 1.25%;
    top: 34%;
    width: 7vw;
    opacity: 0.9;
    position: absolute;
    z-index: 1;
}

.btn {
    background-color: #4a4f98;
    border: none;
    color: white;
    position: absolute;
    width: 15vw;
    height: 7.5vh;
    border-radius: 15px;
    outline: #9288df solid 0.25rem;
    font-size: clamp(0.5rem, 2vw, 2rem);
    left: 70%;
    top: 45%;
    z-index: 2;
    font-family: "LarkeNeueRegular";
}

@media (max-width: 700px) {
    .btn {
        width: 15vw;
        height: 4vh;
        border-radius: 10px;
        outline: #9288df solid 0.2rem;
    }
}

.back-btn {
    /* background-color: #4a4f98; */
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    left: 25px;
    top: 25px;
    z-index: 2;
}

@media (max-width: 550px) {
    .back-btn {
        left: 10px;
        top: 10px;
    }
}

@media (max-width: 350px) {
    .back-btn {
        left: 5px;
        top: 5px;
    }
}

.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn:hover {
    background-color: #7970bb;
    cursor: pointer;
}

.havent {
    left: 30%;
    top: 200vh;
    width: 30vw;
    position: absolute;
    z-index: 2;
    background-color: #9288df;
    /* outline: #4a4f98 solid 0.3rem; */
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 15px;
    display: none;
}

.fanedits {
    left: 38.5%;
    top: 59%;
    width: 40vw;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
    transform: rotate(5deg);
}

#trailer {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;

    position: fixed;
    z-index: 255;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover > #trailer {
    opacity: 1;
}

#trailer-icon {
    font-size: 10px;

    margin-left: 4.5px;
    margin-bottom: 5px;
    
    color: #4a4f98;
    opacity: 0;
    transition: opacity 400ms ease;
  }

  #trailer:not([data-type=""]) > #trailer-icon {
    opacity: 1;
  }

  @font-face {
    font-family: 'LarkeNeueRegular'; /*a name to be used later*/
    src: url('../fonts/Larke\ Neue\ Regular.ttf'); /*URL to font*/
  }

  @font-face {
    font-family: 'LarkeNeueBold'; /*a name to be used later*/
    src: url('../fonts/Larke\ Neue\ Bold.ttf'); /*URL to font*/
  }
  @font-face {
    font-family: 'LarkeNeueThin';
    src: url('../fonts/Larke\ Neue\ Thin.ttf');
  }

/* Scroll bar
::-webkit-scrollbar {
    width: 0.8rem;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

/* icons */

.front-sns {
    position: absolute;
    right: 103px;
    top: 35px; /* top: 40px; */
    display: block;
}

ul {
    display: flex;
    list-style: none;   
}

li {
    padding: 0 0 0 33px;
    font-size: 0;
    line-height: 0;
    display: list-item;
    text-align: -webkit-match-parent;
}

.fill {
    height: 30px;
    width: 30px;
    fill: #fff;
    z-index: 2;
    position: relative;
}

.fill-video {
    height: 30px;
    width: 30px;
    fill: #fff;
    z-index: 2;
    position: relative;
}

.fill:hover, .fill-video:hover {
    fill: #9288df;
}

.icon-circle {
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    transform: translate(-25%, -75%);
    transform-origin: center;
    z-index: 1;
}

@media (max-width: 1200px) {
    .front-sns {
        right: 80px;
        top: 20px; /* top: 40px; */
    }
}

@media (max-width: 1000px) {
    .front-sns {
        right: 75px;
        top: 15px; /* top: 40px; */
    }
    .fill {
        height: 20px;
        width: 20px;
    }
    .fill-video {
        height: 20px;
        width: 20px;
    }
}

@media (max-width: 800px) {
    .front-sns {
        right: 50px;
        top: 15px; /* top: 40px; */
    }
    .back-btn {
        left: 20px;
    }
}

@media (max-width: 700px) {
    .front-sns {
        right: 30px;
        top: 15px; /* top: 40px; */
    }
    li {
        padding: 0 0 0 22px;
    }
    .back-btn {
        left: 15px;
    }
}

@media (max-width: 600px) {
    .front-sns {
        right: 20px;
        top: 15px; /* top: 40px; */
    }
    li {
        padding: 0 0 0 11px;
    }
    .back-btn {
        left: 10px;
    }
}

@media (max-width: 500px) {
    .front-sns {
        top: 5px;
    }
    .back-btn {
        left: 10px;
    }
}

@media (max-width: 380px) {
    .front-sns {
        display: none;
    }
}

footer {
    padding-inline: 1rem;
    padding-block: 1rem;
    color: white;
    font-family: "LarkeNeueRegular";
}

/* .footer-pill {
    width: calc(1920 * var(--pv)); 
    transform: translate(0, 15%);
    display: block;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 500px;
} */

.footer-text {
    position: relative;
}

.flip-card {
    width: calc(1920 * var(--pv)); 
    height: calc(1750 * var(--pv));
    perspective: 1000px;
    transform: translate(0, 0);
    display: block;
    position: absolute;
    z-index: 2;
    bottom: -50%;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: none;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-image: url('../images/footerpill2.png');
    background-size: contain;
  }
  
  .flip-card-back {
    background-image: url('../images/footerpill2.png');
    background-size: contain;
    transform: rotateY(180deg);
  }
  
  @keyframes flip-card-animation {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .flip-card:hover .flip-card-inner {
    animation: flip-card-animation 2.5s infinite;
    transform: rotateY(180deg);
  }

.player {
    height: clamp(50px, 25vh, 1000px);
    width: clamp(50px, 25vw, 1000px);
    position: absolute;
    top: 61%;
    left: 10%;
    transform: rotate(-2.5deg);
}

/* FOR THE PLAYERS, MAKE SURE TO CHANGE THEIR TRANSFORM PROPERTIES IN CSS FOR MOBILE AND JAVASCRIPT FOR PC */

.player2 {
    height: clamp(50px, 25vh, 1000px);
    width: clamp(50px, 25vw, 1000px);
    position: absolute;
    top: 66%;
    left: 55%;
    transform: rotate(5deg);
}

.disk {
    position: absolute;
    width: 50vw;
    animation: rotate 5s linear infinite;
    margin: auto;
    filter: drop-shadow(0px 5px 7px #000);
    pointer-events: none;
    z-index: 1;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.bottomquote {
    position: absolute;
    bottom: -49%;
    left: -15%;
    width: 100vw;
    z-index: 1;
    opacity: 0.9;
}

.songs {
    padding-block: 1rem;
    display: flex;
    justify-content: center;
}

.omar {
    width: 50vw;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.card-group {
    padding-block: 1rem;
    display: flex;
    justify-content: center;
}

.card {
    background-color: transparent; 
    width: 24vw; 
    height: 11vh;
    transition-duration: 300ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    box-sizing: border-box;
    z-index: 2;
    padding-inline: 15px;
}
.card-2 {
    display: grid; 
    padding: 0.75rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    border-radius: 0.375rem; 
    border: 2px solid #fff; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}
.card:hover {
    transform: scale(1.05);
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05; 
}
.grid {
    display: grid; 
    grid-template-rows: repeat(2, minmax(0, 1fr)); 
    gap: 0.25rem; 
    grid-auto-flow: column; 
    grid-auto-columns: minmax(0, 1fr); 
    grid-auto-rows: max; 
}
.row-span-3 {
    grid-row: span 3 / span 3; 
}
.row-span-2 {
    grid-row: span 2 / span 2; 
}
.image {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    align-items: center; 
}
.photo {
    color: #ffffff; 
    width: 6vw; 
    border-radius: 0.375rem; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}
.titlediv {
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    grid-column: span 2 / span 2; 
}
.songtitle {
    color: #ffffff; 
    text-align: center; 
    font-family: "LarkeNeueBold";
}
.artist {
    position: relative; 
    color: #ffffff; 
    flex: none; 
    font-family: "LarkeNeueThin";
}
.spotify {
    display: inline-block; 
    padding-top: 0.75rem;
    color: #10B981; 
    width: 1.25rem; 
    fill: currentColor; 
}

.omarmodel {
    position: absolute;
    width: 21vw;
    left: 50vw;
    transform: translateY(10%);
    /* bottom: -80vh; */
}

#plrtext {
    color: #afa6f8; /* afa6f8 */
    font-family: 'LarkeNeueRegular';
}